@import url(http://fonts.googleapis.com/css?family=Cabin:400,700|Arimo:400,700|Raleway:200,300,400,700|Permanent+Marker)
@import "compass/utilities/general/clearfix"
@import "icons/*.png"

@include all-icons-sprites

$main_element_color: black
$side_element_color: white
$special_element_color: #0fcbeb

$header_font_color: black
$text_font_color: black
$special_font_color: #0fcbeb

$font_text: Arimo, Helvetica, Arial, sans-serif
$font_header: Raleway, Helvetica, Arial, sans-serif
$font_special: "Permanent Marker", "Times New Roman", Times, serif

$wrapper_width: 960px

@mixin active_arrow($class:active)
  &.#{$class}:after, &:hover:after
    position: absolute
    bottom: -14px
    left: 0
    right: 0
    margin: 0 auto
    content: " "
    width: 0
    height: 0
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-bottom: 10px solid white


body
  font-size: 14px
  font-family: $font_text
  color: $text_font_color
  position: relative


.bg
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 0

.wrapper
  z-index: 1
  position: relative
  width: 960px
  margin: 0 auto

.header
  font-family: $font_special

  h1
    font-size: 30px


