@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic|Open+Sans+Condensed:300,300italic,700|Open+Sans:300italic,400,300|Quicksand:300,400,700)
@import "compass/utilities/general/clearfix"
@import "compass/css3/transform"
@import "compass/css3/transition"
@import "compass/css3/images"
@import "compass/css3/text-shadow"
@import "compass/css3/box-shadow"




$text_color: rgb(23, 23, 23)
$text_color_alpha: rgba(23, 23, 23, 0.8)
$dashed_border: 2px dashed $text_color
$small_nav_width: 200px
$small_nav_transition_speed: 200ms


@font-face
  font-family: 'icomoon'
  src: url('/fonts/icomoon.eot')
  src: url('/fonts/icomoon.eot?#iefix') format("embedded-opentype"), url('/fonts/icomoon.woff') format("woff"), url('/fonts/icomoon.ttf') format("truetype"), url('/fonts/icomoon.svg#icomoon') format("svg")
  font-weight: normal
  font-style: normal





@mixin small_nav_box_shadow
  .boxshadow &
    +box-shadow(inset 1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.2), inset 0.5em 0 0.5em -0.5em rgba(0, 0, 0, 0.2))

@mixin uppercase_headline($font_size: 100px, $letter_spacing: -0.102em)
  font:
    size: $font_size
    weight: 300
  letter-spacing: $letter_spacing
  text-transform: uppercase
  +text_color()

  .textshadow &
    +text-shadow(-1px -1px 0px white)

@mixin text_color
  .rgba &
    color: $text_color_alpha
  .no-rgba &, no-js &
    color: $text_color

@mixin justify_if_js($alt: left)
  .js &
    text-align: justify

  .no-js &
    text-align: $alt

@mixin nav_bg_circle
  .rgba &
    background: rgba(255,255,255,0.4)
  .no-rgba &, .no-js &
    background: white


.icon
  font-family: icomoon, Quicksand, sans-serif


body
  font:
    size: 16px
    family: Quicksand, sans-serif
    weight: 300
  line-height: 1
  letter-spacing: -0.095em
  +text_color()

h1
  +uppercase_headline(70px)
  margin: 100px 0 20px 0


nav
  z-index: 5
  background: url(/images/light_linen_pattern.jpg)
  position: fixed
  top: 0
  bottom: 0
  right: - $small_nav_width
  width: $small_nav_width

  +small_nav_box_shadow()

  .csstransitions.csstransforms &
    +transition-property(transform)
    +transition-duration($small_nav_transition_speed)

  .nav_open.csstransforms &
    +translateX(- $small_nav_width)
  .nav_open.no-csstransforms &, no-js &
    right: 0

  .menu_icon
    font-size: 40px
    text-decoration: none
    position: absolute
    z-index: 1
    display: inline-block
    width: 60px
    height: 60px
    top: 5px
    left: -65px
    overflow: hidden
    white-space: nowrap
    +text_color
    +nav_bg_circle
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    
    

    .borderradius &
      border-radius: 50%
      //-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC) /* this fixes the overflow:hidden in Chrome */

    .icon, .close
      display: inline-block

    .icon
      padding: 6px 100px 0 10px

      .nav_open &
        margin-left: -132px

    .close
      padding-top: 5px



  ul
    margin: 0
    padding: 60px 0 0

    li
      margin-bottom: 20px

      a
        font:
          size: 25px
          weight: 300
        text:
          decoration: none
          transform: uppercase
        letter-spacing: -2px
        display: inline-block
        padding: 10px
        padding-left: 20px
        +small_nav_box_shadow()

        .rgba &
          color: rgba(255,255,255,0.85)

        .no-rgba &, .no-js &
          color: white

        .textshadow &
          +text-shadow(-1px -1px 1px rgba(0,0,0,0.8))

        .csstransitions &
          +transition(100ms padding-left)

        &:hover, &:focus
          padding-left: 30px

        &.welcome
          background: #0a415c

        &.about
          background: #0f4d0f

        &.work
          background: #80721a

        &.contact
          background: #7f193d


.bg
  position: fixed
  top: 0
  left: 0
  bottom: 0
  width: 100%
  z-index: 0

  .csstransitions.csstransforms &
    +transition-property(transform)
    +transition-duration($small_nav_transition_speed)

  .nav_open.csstransforms &
    +translateX(- $small_nav_width)
  .nav_open.no-csstransforms &, no-js &
    left: - $small_nav_width

#wrapper
  z-index: 1
  position: relative

  .csstransitions.csstransforms &
    +transition-property(transform)
    +transition-duration($small_nav_transition_speed)

  .nav_open.csstransforms &
    +translateX(- $small_nav_width)
  .nav_open.no-csstransforms &, no-js &
    left: - $small_nav_width

  .slide
    padding-left: 10px
    padding-right: 10px

#welcome
  overflow: hidden

  .salutation
    text-align: center

    .me
      margin-top: 10px
      margin-bottom: -50px

    p
      margin: 0 0 20px

      &.hey
        font:
          family: "Lobster Two", "Times New Roman", Times, serif
        font-size: 80px
        letter-spacing: normal
        position: relative

        &:after
          content: ""
          position: absolute
          bottom: -8px
          left: 10px
          right: 10px
          border-bottom: $dashed_border

      &.my
        +uppercase_headline(40px)
        position: relative

        .and_break
          display: none

        &:after
          content: ""
          position: absolute
          bottom: -12px
          left: 10px
          right: 10px
          border-bottom: $dashed_border

      &.wanna, &.or
        letter-spacing: -0.09em
        display: inline

      &.wanna
        font-size: 30px
        margin-bottom: 0px

      &.or
        font-size: 20px

#about
  h1
    float: right
    margin-right: 10px

  p
    clear: right
    +justify_if_js
    +clearfix

    &:first-letter
      +uppercase_headline(65px)
      letter-spacing: 0.02em
      line-height: 0.7em
      float: left
      padding: 10px 0 0 0


#work
  .item
    margin: 40px 0
    position: relative

    &:before
      content: ""
      position: absolute
      border-bottom: $dashed_border
      width: 100%
      top: 290px

    .image
      text-align: center
      width: 300px
      height: 300px
      position: relative
      margin: 0 auto

      .borderradius &
        border-radius: 50%
        overflow: hidden
        -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC) /* this fixes the overflow:hidden in Chrome */

      &:after
        content: ""
        position: absolute
        top: 170px
        bottom: 0
        left: 0
        right: 0

        .rgba &
          background: rgba(255,255,255,0.8)
        .no-rgba &, .no-js &
          background: white

    .info
      margin-top: -125px
      position: relative
      +clearfix()

      h2
        font:
          size: 40px
          family: "Lobster Two"
        text-align: center
        margin: 0 0 10px

      .categories
        text-align: center
        width: 190px
        margin: 0 auto
        font-weight: 400

      .description
        margin-top: 30px
        +justify_if_js

      .code, .link
        float: right
        width: 80px
        height: 80px
        border-radius: 50%
        overflow: hidden

        .rgba &
          background: rgba(229, 199, 0, 0.3)

        .no-rgba &, .no-js &
          background: #f3d199

        .csstransitions &
          +transition(150ms background)
        a
          width: 200px
          height: 100%
          display: inline-block
          position: relative
          left: 0
          text-decoration: none
          +uppercase_headline(20px)
          +text_color()

          .csstransitions &
            +transition(150ms left cubic-bezier(0.250, 0.460, 0.450, 0.940))

          .text
            position: absolute
            left: 15px
            top: 30px

          .arrow
            position: absolute
            top: 16px
            left: 150px
            font-size: 50px
            //vertical-align: middle
            //padding-left: 80px

        &:hover, &:focus
          .rgba &
            background: rgba(229, 199, 0, 0.7)

          .no-rgba &, .no-js &
            background: #ffc423

          a
            left: -120px

      .link
        &.not_alone
          margin-left: -15px

        a
          .text
            left: 20px

#contact

  p
    font-size: 25px
    margin: 30px 0

    br
      display: none

    &.so
      position: relative

      &:after
        content: ""
        position: absolute
        border-bottom: $dashed_border
        width: 100%
        bottom: -17px
        left: 0px

    &.just
      text-align: right

      a
        font:
          family: "Lobster Two", "Times New Roman", Times, serif
        text-decoration: none

        .rgba &
          color: $text_color_alpha

        .no-rgba &, .no-js &
          color: $text_color

footer
  text-align: center
  position: relative
  font-size: 16px
  margin-bottom: 5px


@media (min-width: 480px)
  #welcome
    .salutation
      p.my
        .and_break
          display: inherit
@media (min-width: 600px)
  body
    font-size: 20px

  h1
    margin-top: 20px

  #wrapper
    .slide
      padding-top: 50px
      padding-bottom: 50px

    .csstransitions.csstransforms &
      +transition-property(none)
      +transition-duration($small_nav_transition_speed)

    .nav_open.csstransforms &
      +transform(none)
    .nav_open.no-csstransforms &, no-js &
      left: inherit

  .bg
    .csstransitions.csstransforms &
      +transition-property(none)
      +transition-duration($small_nav_transition_speed)

    .nav_open.csstransforms &
      +transform(none)
    .nav_open.no-csstransforms &, no-js &
      left: inherit

  nav
    width: 80px
    height: 80px
    top: 10px
    right: 10px
    margin: 0
    text-align: right
    overflow: hidden
    +nav_bg_circle

    .boxshadow &
      +box-shadow(none)

    .borderradius &
      border-radius: 50%

    .csstransitions.csstransforms &
      +transition-property(none)
      +transition-duration(0)

    .nav_open.csstransforms &
      +transform(none)
    .nav_open.no-csstransforms &, no-js &
      right: inherit

    .csstransitions.csstransforms &, .csstransitions.no-csstransforms &
      +transition(300ms width, 300ms height, 300ms top, 300ms right, 300ms background)

    .menu_icon
      width: 80px
      height: 80px
      font-size: 40px
      text-decoration: none
      position: absolute
      display: inline-block
      padding: 0
      top: 0
      right: 0
      left: auto
      +text_color()

      .rgba &, .no-rgba &, .no-js &
        background: none

      .csstransitions &
        +transition(300ms top, 300ms right)

      .icon
        padding-top: 15px
        padding-left: 19px

      .close
        padding-right: 25px
      

    ul
      +clearfix()
      position: absolute
      top: -20px
      right: 80px
      height: 500px
      border-right: $dashed_border
      padding: 40px 17px 0 0
      margin: 0

      .csstransitions &
        +transition(300ms top, 300ms right)

      li
        a
          white-space: nowrap
          display: inline-block
          padding: 3px
          +text_color()

          &.welcome, &.about, &.work, &.contact
            background: none

          .boxshadow &
            +box-shadow(none)

          &:hover, &:focus
            padding-left: 3px

          .textshadow &
            +text-shadow(-1px -1px 1px rgba(255,255,255,0.8))

    .nav_open &, .no-js &
      width: 500px
      height: 500px
      top: -190px
      right: -190px

      .menu_icon
        top: 200px
        right: 200px

      ul
        top: 180px
        right: 280px

    .nav_open.rgba &
      background: rgba(255,255,255,0.8)

  #welcome

    .salutation
      text-align: left
      padding-top: 100px
      position: relative

      &:after
        content: ""
        position: absolute
        top: 205px
        left: 0
        width: 100%
        z-index: 0
        border-bottom: $dashed_border

      p
        font-weight: 300
        position: relative
        z-index: 2

        &.hey
          font-size: 100px

          &:after
            display: none

        &.my
          font-size: 50px
          margin-bottom: 10px

          &:after
            display: none

        &.wanna, &.or
          display: block

      .me
        position: absolute
        z-index: 1
        top: 10px
        right: 10px

        .borderradius &
          width: 300px
          height: 300px
          border-radius: 50%
          background: url(/images/me.jpg) no-repeat center center

          img
            display: none

      .csstransitions.borderradius &
        .me
          +transition(top 300ms, right 300ms, width 300ms, height 300ms)

        &:hover .me
          top: -90px
          right: -90px
          width: 500px
          height: 500px

  #work
    .item
      min-height: 300px

      &:before
        display: none

      .image
        margin: 0
        position: absolute
        z-index: 2
        top: 0
        left: 0

        &:after
          display: none

      .info
        margin-top: 0

        h2, p
          padding-left: 310px

        h2
          text-align: left
          font-size: 50px

        .categories
          width: auto
          margin: 0
          text-align: left
          font:
            weight: 300
            size: 16px
          position: relative

          &:after
            content: ""
            position: absolute
            z-index: 1
            bottom: -17px
            left: 0
            width: 100%
            border-bottom: $dashed_border

        .description
          margin-bottom: 10px

  #contact
    p
      font-size: 30px

@media (min-width: 768px)
  body
    background: green

  #wrapper
    .slide
      padding-left: 20px
      padding-right: 20px

@media (min-width: 992px)
  body
    background: pink

@media (min-width: 1382px)
  body
    font:
      size: 30px

  h1
    font-size: 100px

  nav
    width: 80px
    height: 80px
    margin: 20px 20px 0 0
    text-align: right
    overflow: hidden
    //+background(linear-gradient(45deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.3) 100%))

    .csstransitions &
      +transition(300ms width, 300ms height, 300ms top, 300ms right, 300ms background)

    .menu_icon
      font-size: 40px
      text-decoration: none
      position: absolute
      display: inline-block
      padding: 20px 24px
      top: 0
      right: 0
      +text_color()

      .csstransitions &
        +transition(300ms top, 300ms right)
      

    ul
      +clearfix()
      position: absolute
      top: -20px
      right: 80px
      height: 500px
      border-right: $dashed_border
      padding: 40px 17px 0 0
      margin: 0

      .csstransitions &
        +transition(300ms top, 300ms right)

      li
        a
          white-space: nowrap
          text-decoration: none
          display: inline-block
          padding: 3px
          +text_color()

    &.open, .no-js &
      width: 500px
      height: 500px
      top: -200px
      right: -200px

      .rgba &
        background: rgba(255,255,255,0.8)

      .menu_icon
        top: 200px
        right: 200px

      ul
        top: 180px
        right: 280px


  #wrapper
    width: 1382px
    margin: 0 auto

    .slide
      padding: 100px 0


    #welcome

      .salutation
        position: relative

        &:before, &:after
          content: ""
          position: absolute
          top: 140px
          z-index: 0
          border-bottom: $dashed_border

        &:before
          width: 150px
          left: 10px

        &:after
          width: 693px
          left: 211px

        p
          margin: 0
          font-weight: 300
          position: relative
          z-index: 2

          &.hey
            font:
              family: "Lobster Two", "Times New Roman", Times, serif
            font-size: 140px
            letter-spacing: normal
            margin-bottom: 20px

          &.my
            +uppercase_headline()

          &.wanna, &.or
            letter-spacing: -0.09em

          &.wanna
            font-size: 50px

          &.or
            margin-left: 210px
            font-size: 30px
            letter-spacing: -0.09em

        .me
          position: absolute
          z-index: 1
          top: -70px
          right: 270px

          .borderradius &
            width: 300px
            height: 300px
            border-radius: 50%
            background: url(/images/me.jpg) no-repeat center center

            img
              display: none

        .csstransitions.borderradius &
          .me
            +transition(top 300ms, right 300ms, width 300ms, height 300ms)

          &:hover .me
            top: -170px
            right: 170px
            width: 500px
            height: 500px


    #about
      +clearfix()

      h1
        margin: 0 80px 20px 0
        float: right

      p
        clear: right
        float: right
        width: 1024px
        letter-spacing: -2px

        &:first-letter
          +uppercase_headline(65px)
          letter-spacing: 0.02em
          line-height: 0.7em
          float: left
          padding: 10px 0 0 0


    #work

      h1
        margin: 0 0 67px

      .item
        position: relative
        min-height: 300px
        padding-left: 50px
        margin-bottom: 50px

        &:before
          content: ""
          position: absolute
          left: 0
          right: 0
          top: 125px
          z-index: 2
          border-bottom: $dashed_border

        .image
          height: 300px
          width: 300px
          border-radius: 50%
          position: absolute
          top: 0
          left: 50px
          z-index: 2
          overflow: hidden   

        .info
          position: relative
          z-index: 3
          margin-left: 325px

          h2
            font:
              size: 60px
            margin: 50px 0 30px 0px
            float: left


          .categories
            margin: 82px 0 10px 15px
            float: left
            font:
              size: 20px
            letter-spacing: -2px

          .code, .link
            float: right
            width: 80px
            height: 80px
            border-radius: 50%
            overflow: hidden
            margin-top: 30px

            .rgba &
              background: rgba(229, 199, 0, 0.3)

            .no-rgba &, .no-js &
              background: #f3d199

            .csstransitions &
              +transition(150ms background)
            a
              width: 200px
              height: 100%
              display: inline-block
              position: relative
              left: 0
              text-decoration: none
              +uppercase_headline(20px)
              +text_color()

              .csstransitions &
                +transition(150ms left cubic-bezier(0.250, 0.460, 0.450, 0.940))

              .text
                position: absolute
                left: 15px
                top: 30px

              .arrow
                position: absolute
                top: 16px
                left: 150px
                font-size: 50px
                //vertical-align: middle
                //padding-left: 80px

            &:hover
              .rgba &
                background: rgba(229, 199, 0, 0.7)

              .no-rgba &, .no-js &
                background: #ffc423

              a
                left: -120px

          .link
            &.not_alone
              margin-left: -15px

            a
              .text
                left: 20px


          .description
            margin: 10px 0 10px 0px
            clear: left



    #contact
      h1
        margin: 0 0 20px

      p.so
        position: relative
        font:
          size: 50px

        &:after
          content: ""
          position: absolute
          border-bottom: $dashed_border
          width: 1290px
          bottom: -30px
          left: 0px

      p.just
        margin-left: 190px
        font:
          size: 50px
        a
          font:
            family: "Lobster Two", "Times New Roman", Times, serif
          text-decoration: none

          .rgba &
            color: $text_color_alpha

          .no-rgba &, .no-js &
            color: $text_color


  footer
    text-align: center
    position: relative
    font-size: 20px
    margin-top: -30px
    margin-bottom: 10px


